{% extends "base.html" %}

{% block content %}
<h1>{{ episode.hebrew_title }}</h1>
<p>Total: {{ total_original_mmss }}🔊 {{ total_cloned_mmss }}👥</p>
<section class="episode scriptures rtl sbl">
	{% for paragraph in episode.layout %}
	<section class="paragraph">
		{% for line in paragraph %}
		<div class="line">
			{% for word in line %}{{ word.text }}{{ word.spacer }}{% endfor %}
		</div>
		{% endfor %}
	</section>
	{% endfor %}
</section>
<table>
	<tr>
		<th></th>
		<th>Verse</th>
		<th>Original</th>
		<th>Generate Clone</th>
		<th>Cloned</th>
	</tr>
	{% for verse in episode.verses %}
	<tr>
		<td>{{ episode.number }}</td>
		<td>Verse {{ verse.hebrew_number }}</td>
		<td>
			{% if audio.has_original_audio(verse) %}
			<div class="visual-player" data-audio="/audio/original/{{ '%03d.%03d.%03d.mp3'|format(verse.chapter.book.number, verse.chapter.number, verse.number) }}"></div>
			{% set timing = audio.get_timing(verse) %}
			{% set dur = timing[1] - timing[0] %}
			{{ "%02d:%02d"|format(dur // 60, dur % 60) }}
			{% endif %}
		</td>
		<td>
			{% if audio.has_original_audio(verse) %}
			<a href="/parashot/clone/{{ verse.chapter.book.number }}/{{ verse.chapter.number }}/{{ verse.number }}">👥 Generate Clone</a>
			{% endif %}
		</td>
		<td>
			{% if audio.has_cloned_audio(verse) %}
			<div class="visual-player" data-audio="/audio/cloned/{{ '%03d.%03d.%03d.mp3'|format(verse.chapter.book.number, verse.chapter.number, verse.number) }}"></div>
			{% set dur = audio.cloned_duration(verse) %}
			{{ "%02d:%02d"|format(dur // 60, dur % 60) }}
			{% endif %}
		</td>
		<td><a href="/parashot/{{ episode.parashah.number }}/{{ episode.number }}/{{verse.number  }}/audio">✏️ Edit Audio</a></td>
	</tr>
	{% endfor %}
</table>
<a href="/parashot/clone/{{ episode.parashah.number }}/{{ episode.number }}">👥 Clone All Missing Verses</a>
<a href="/parashot/generate/video/{{ episode.parashah.number }}/{{ episode.number }}">🎬 Generate Video</a>
{% endblock %}
