{% extends "base.html" %}

{% block content %}
<h1>Parashot</h1>
<table>
	<tr>
		<th>Number</th>
		<th>Name</th>
		<th>Original Total</th>
		<th>Cloned Total</th>
		<th>Color</th>
	</tr>
	{% for entry in parashot %}
	{% set parashah = entry.parashah %}
	<tr>
		<td>{{ parashah.number }}</td>
		<td><a href="/{{ parashah.number }}">{{ parashah.hebrew_name }}</a></td>
		<td>{{ entry.original_duration }}</td>
		<td>{{ entry.cloned_duration }}</td>
		<td style="background-color: rgb({{ parashah.color[0] }}, {{ parashah.color[1] }}, {{ parashah.color[2] }}); width: 50px;"></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
