{% extends "base.html" %}

{% block content %}
<h1>Psalms</h1>

{% for book in books %}
<div>
	<h2>{{ book.name }}</h2>
	<table>
		<thead>
			<tr>
				<th>Psalm</th>
				<th>Duration</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in book.psalms %}
			{% set psalm = entry.psalm %}
			<tr>
				<td><a href="/{{ psalm.number }}">{{ psalm.number }} ({{ psalm.hebrew_number }})</a></td>
				<td>{{ entry.total_duration }}</td>
				<td style="background-color: {% if entry.show_color %}rgb({{ psalm.color[0] }}, {{ psalm.color[1] }}, {{ psalm.color[2] }}){% else %}transparent{% endif %}; width: 50px;"></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td>Book Total:</td>
				<td>{{ book.duration_total }}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
{% endfor %}

<div>
	<h2>Grand Totals for All 5 Books</h2>
	<table>
		<tr>
			<td>Total Original Audio:</td>
			<td>{{ grand_original_formatted }}</td>
		</tr>
		<tr>
			<td>Total Cloned Audio:</td>
			<td>{{ grand_cloned_formatted }}</td>
		</tr>
		<tr>
			<td>Total Score Video Duration:</td>
			<td>{{ grand_total_formatted }}</td>
		</tr>
	</table>
</div>

<a href="/export/covers" class="button">Generate All Covers</a>
<a href="/export/audio" class="button">Generate Audio</a>

{% endblock %}
