{% extends "base.html" %}

{% block content %}
<h1>Align Psalm {{ psalm.hebrew_fancy_number }}</h1>

{% for verse in verse_data %}
<h2>Verse {{ verse.number }}</h2>
<table border="1" cellpadding="5" style="border-collapse: collapse; margin-bottom: 20px;">
	<thead>
		<tr>
			<th>#</th>
			<th>Word</th>
			<th>Start (sec)</th>
			<th>End (sec)</th>
			<th>Duration (sec)</th>
		</tr>
	</thead>
	<tbody>
		{% for word in verse.words %}
		<tr>
			<td>{{ word.index }}</td>
			<td>{{ word.text }}</td>
			<td>{{ word.start }}</td>
			<td>{{ word.end }}</td>
			<td>{{ word.duration }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}

<a class="button" href="/{{ psalm.number }}">Back to Psalm</a>
{% endblock %}
